{
  "name": {{ tool_name | tojson }},
  "version": "0.1.0",
  "description": {{ description | tojson }},
  "author": {
    "name": {{ author | tojson }}
  },
  "homepage": "https://github.com/{{ github_org }}/{{ repo_name }}",
  "repository": "https://github.com/{{ github_org }}/{{ repo_name }}",
  "license": "GPL-3.0-or-later"
}
